body {
    background-color: #444;
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: 'Quicksand';
    padding-top: 5%;
    word-wrap: break-word;
}

.logo {
    width: 125px;
    height: 125px;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wallet-info {
    width: 500px;
}

.block {
    border: 1px solid white;
    padding: 5%;
    margin: 2%;
}
.transaction {
    padding: 5%;
}